<div class="container">
  <div class="row">
    <div class="announ-page">
      <h2>Recent Announcements</h2>
      <hr>
      <div class="ann-item">
        <p>
          <a data-bs-toggle="collapse" href="#ann1" role="button" aria-expanded="false" aria-controls="collapseExample">
            DigiAuctions predicts shoppers will ditch buying new products this Black Friday
          </a>
        </p>
        <div class="collapse" id="ann1">
          <div class="card card-body">
            <p>New data compiled in partnership with WRAP reveals how the nation could save £8 billion and 1.5 million tonnes of CO2 from carbon emissions</p>
            <p>Today, DigiAuctions predicts that on Christmas morning the nation will wake up to pre-loved and refurbished presents, as shoppers turn away from new products this Black Friday in a bid to save money. </p>
            <a href="#"><button type="button" class="ann-btn">
              Read more <i class="bi bi-arrow-right-circle"></i>
            </button></a>
          </div>
        </div>
      </div>
      <div class="ann-item">
        <p>
          <a data-bs-toggle="collapse" href="#ann2" role="button" aria-expanded="false" aria-controls="collapseExample">
            The 'Smallest, Savviest' Black Friday Ever
          </a>
        </p>
        <div class="collapse" id="ann2">
          <div class="card card-body">
            <p>On Black Friday last year, 40 items sold every second on DigiAuctions VN and a whopping 90% of those purchases were from a small business. Today, DigiAuctions VN has announced that they are prepping for its ‘smallest’ Black Friday yet, with 66% of the VN planning to use this day to purchase Christmas gifts from small businesses.</p>
            <p>Since the pandemic, shoppers are not only thinking more about what kind of businesses they spend their pounds with, but also how they make more money to fund new purchases, with 30% of the VN planning on selling unwanted items ahead of this Black Friday.</p>
            <a href="#"><button type="button" class="ann-btn">
              Read more <i class="bi bi-arrow-right-circle"></i>
            </button></a>
          </div>
        </div>
      </div>
      <div class="ann-item">
        <p>
          <a data-bs-toggle="collapse" href="#ann3" role="button" aria-expanded="false" aria-controls="collapseExample">
            Sell your tech to bring the sunshine: DigiAuctions teams up with Make-A-Wish® UK for the release of “Ron’s Gone Wrong" to raise money through pre-loved tech
          </a>
        </p>
        <div class="collapse" id="ann3">
          <div class="card card-body">
            <p>The Walt Disney Company UK and eBay have joined forces for good, to raise money for Make-A- Wish® UK this October in celebration of Ron - the much-loved protagonist in 20th Century Studios latest film; Ron’s Gone Wrong. </p>
            <p>Ron’s Gone Wrong is the story of Barney, a socially awkward middle-schooler and Ron, his new walking, talking, digitally-connected device, which is supposed to be his “Best Friend out of the Box.” Ron’s hilarious malfunctions launch the pair into an action-packed journey showing that good can come when tech is valued rather than discarded.</p>
            <a href="#"><button type="button" class="ann-btn">
              Read more <i class="bi bi-arrow-right-circle"></i>
            </button></a>
          </div>
        </div>
      </div>
      <div class="ann-item">
        <p>
          <a data-bs-toggle="collapse" href="#ann4" role="button" aria-expanded="false" aria-controls="collapseExample">
            DigiAuctions VN opens entries to 5th annual DigiAuctions for Business Awards
          </a>
        </p>
        <div class="collapse" id="ann4">
          <div class="card card-body">
            <p>DigiAuctions VN today announces the launch of the 5th DigiAuctions for Business Awards, designed to celebrate the growing talent of entrepreneurs across the country. </p>
            <p>Last year thousands of candidates entered and inspiring entrepreneurs from across the nation shared how they had successfully managed their business and thrived despite the pandemic.</p>
            <p>Each finalist will go home with a prize of £5,000. They will also be given access to a range of tailored marketing and business support, such as a free anchor store subscription, DigiAuctions Concierge service, or enrollment in DigiAuctions’s Pro-Trader programme.</p>
            <a href="#"><button type="button" class="ann-btn">
              Read more <i class="bi bi-arrow-right-circle"></i>
            </button></a>
          </div>
        </div>
      </div>
      <div class="ann-item">
        <p>
          <a data-bs-toggle="collapse" href="#ann5" role="button" aria-expanded="false" aria-controls="collapseExample">
            DigiAuctions taps into personalisation market by cutting seller fees and new online tool
          </a>
        </p>
        <div class="collapse" id="ann5">
          <div class="card card-body">
            <p>Thousands of sellers offering personalised products on DigiAuctions VN will benefit from lower fees and new promotions until March 2022 to help them make the most of the growing demand for personalised gifts, DigiAuctions VN  announces today. </p>
            <p>In 2020 DigiAuctions VN recorded over 600 searches a day for ‘personalised’ items, with personalised mugs and glasses some of the most sought after customised and engraved products, with searches up 111% and 113%.</p>
            <a href="#"><button type="button" class="ann-btn">
              Read more <i class="bi bi-arrow-right-circle"></i>
            </button></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
