<div class="container">
  <div class="row">
    <div class="poli-page">
      <h2>AuctionsTable rules and policies</h2>
      <hr>
      <h6>We're committed to providing a secure and fair marketplace for our buyers and sellers. To support this commitment, we've put in place rules and policies that govern our expectations of buyers and sellers, the actions we'll take to keep you safe, and how we'll protect you if something goes wrong.</h6>
      <p>By becoming familiar with and following our policies, you'll help us maintain a safe environment for all, and be able to avoid interruptions that might come from inadvertent violations of our rules.</p>
      <p>Some of our rules reflect local legal requirements, while others are based on our experience of how best to protect everyone using eBay services.</p>
      <p>In our policy section, you'll find information on items that can and can't be sold, guides to creating and maintaining listings, details on how we protect your personal details and more.</p>
      <p>You can also find our <a href="#">User Agreement</a>, <a href="#">User Privacy Notice</a>, and <a href="#">Cookie Notice</a>. These lay out the most critical information around our terms of use, the information we collect from you, and how we keep that information safe.</p>
      <a href="#"><h6>Prohibited and restricted items</h6></a>
      <p>Learn about items that can and can't be sold on AuctionsTable, and where we have restrictions on the sale of some products and services.</p>
      <a href="#"><h6>Rules and policies for buyers</h6></a>
      <p>When you bid on or buy and item on AuctionsTable, you're agreeing to the rules we've set out for our community.</p>
      <a href="#"><h6>Feedback policies</h6></a>
      <p>While feedback is intended as an open forum, we have guidelines and policies to ensure it's used constructively and fairly.</p>
      <a href="#"><h6>Member behavior policies</h6></a>
      <p>When you buy and sell on AuctionsTable, we expect that you and your information are treated in a respectful manner, and that you afford other members the same courtesy.</p>
      <a href="#"><h6>Identity policies</h6></a>
      <p>Find out how our identity policies protect all of our members, and make AuctionsTable a safe and trusted marketplace.</p>
      <a href="#"><h6>Payment policies</h6></a>
      <p>Learn about the approved payment methods sellers can offer in their listings and find help on what to do if something goes wrong.</p>
      <a href="#"><h6>Resolving technical issues</h6></a>
      <p>Learn how to troubleshoot any technical issues you may experience with our site.</p>
      <hr>
      <p>Activity that doesn’t follow AuctionsTable policy could result in a range of actions including administratively ending or canceling listings, hiding or demoting all listings from search results, lowering a seller's rating, buying or selling restrictions, loss of buyer or seller protections, account suspension, application of fees, and recovery of expenses for policy monitoring and enforcement, for example. All fees paid or payable in relation to listings in which we take any action can't be refunded or otherwise credited.</p>

    </div>
  </div>
</div>
