<div class="container">
  <div class="row">
    <div class="wish-page">
      <h2>Wishlist</h2>
      <hr>
      <div class="wish-item">
        <div class="row">
          <div class="col-2 wish-img">
            <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-7 wish-desc">
            <h5>iPhone 14</h5>
          </div>
          <div class="col-2 wish-stock">
            Out of stock
          </div>
          <div class="col-1 wish-remove">
            <button type="button" class=" wish-remove-btn"> <i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
