<div class="container">
  <div class="row">
    <div class="wish-page">
      <h2>Wishlist</h2>
      <hr>
      <div *ngFor="let w of wishes; let i = index">
        <div class="wish-item">
          <div class="row">
            <div class="col-2 wish-img">
              <img src="assets/images/{{w.thumbnail}}" alt="" class="img-fluid">
            </div>
            <div class="col-7 wish-desc">
              <a routerLink="/products/{{w.id}}"><h5>{{w.name}}</h5></a>
            </div>
            <div class="col-2 wish-stock">
              On stock: N/A
            </div>
            <div class="col-1 wish-remove">
              <button type="button" class=" wish-remove-btn" (click)="removeItem(i)"> <i class="bi bi-x-lg"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
