<div class="container">
  <div class="row">
    <div class="intro-page">
      <div class="row">
        <div class="col main-intro">
          <div>
            <h2>About DigiAutions</h2>
            <br>
            <h4>We connect people and build communities to create economic opportunity for all.</h4>
            <p>At DigiAuctions, we create pathways to connect millions of sellers and buyers in more than 190 markets around the world. Our technology empowers our customers, providing everyone the opportunity to grow and thrive — no matter who they are or where they are in the world. And the ripple effect of our work creates waves of change for our customers, our company, our communities and our planet.</p>
            <p>DigiAuctions creates inspiring ecommerce experiences for our buyers, sellers and developers. Embracing innovation has been a cornerstone of our growth and customer loyalty for more than 10 years</p>
            <p>Every day, people build businesses on DigiAuctions. Nonprofit organizations raise vital funds. Entrepreneurs gain new skills and access to new markets where they can turn their dreams and ideas into business success.</p>
            <a routerLink="#"><button type="button">Read more <i class="bi bi-chevron-double-right"></i></button></a>
          </div>
        </div>
        <div class="col intro-img">
            <img src="assets/images/banner-1.png" alt="" class="img-fluid">
        </div>
      </div>
      <hr>
      <h4>Our team</h4>
      <br>
      <div class="row team-intro">
        <div class="col">
          <img src="assets/images/hung-ava.jpg" alt="" class="img-fluid">
          <br>
          <br>
          <h5>Phung Duy Hung</h5>
        </div>
        <div class="col">
          <img src="assets/images/blank.avatar.webp" alt="" class="img-fluid">
          <br>
          <br>
          <h5>Nguyen Phi Long</h5>
        </div>
        <div class="col">
          <img src="assets/images/blank.avatar.webp" alt="" class="img-fluid">
          <br>
          <br>
          <h5>Nguyen Duc Lam</h5>
        </div>
        <div class="col">
          <img src="assets/images/blank.avatar.webp" alt="" class="img-fluid">
          <br>
          <br>
          <h5>Nguyen Van Truong</h5>
        </div>
        <div class="col">
          <img src="assets/images/blank.avatar.webp" alt="" class="img-fluid">
          <br>
          <br>
          <h5>Nguyen Sy Toan</h5>
        </div>
      </div>
    </div>
  </div>
</div>
