<div class="container">
  <div class="row">
    <div class="site-map">
      <h2>Site map</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <h4>Categories</h4>
        <ul>
          <a routerLink="/categories/phone"><li>Mobile phones</li></a>
          <a routerLink="/categories/laptop-pc"><li>Laptop & PCs</li></a>
          <a routerLink="/categories/tablet"><li>Tablets</li></a>
          <a routerLink="/categories/watch"><li>Watches</li></a>
          <a routerLink="/categories/tv-audio"><li>TV & Audio</li></a>
          <a routerLink="/categories/accessory"><li>Accessories</li></a>
        </ul>
      </div>
      <div class="col">
        <h4>Pages</h4>
        <ul>
          <a routerLink="/"><li>Home page</li></a>
          <a routerLink="/vendors"><li>Vendors</li></a>
          <a routerLink="/cart"><li>My cart</li></a>
          <a routerLink="/wishlist"><li>Wishlist</li></a>
          <a routerLink="/checkout"><li>Checkout page</li></a>
        </ul>
      </div>
      <div class="col">
        <h4>Support</h4>
        <ul>
          <a routerLink="/completed"><li>Completed Auctions</li></a>
          <a routerLink="/track"><li>Order Tracking</li></a>
          <a routerLink="/contact"><li>Contact Us</li></a>
          <a routerLink="/faq"><li>Faqs</li></a>
        </ul>
      </div>
      <div class="col">
        <h4>About Us</h4>
        <ul>
          <a routerLink="/introduce"><li>About AuctionsTable</li></a>
          <a routerLink="/policy"><li>Policies</li></a>
          <a routerLink="/announcements"><li>Announcements</li></a>
          <a routerLink="/sitemap"><li>Site map</li></a>
        </ul>
      </div>
    </div>
  </div>
</div>
