<div class="container">
  <div class="row">
    <div class="col-2 contact-page">

    </div>
    <div class="col-10 contact-page">
      <div class="contact-info">
        <h2>Contact Us</h2>
        <br>
        <p><i class="bi bi-geo-alt-fill"></i>  01 Dinh Tien Hoang, Hoan Kiem, Ha Noi</p>
        <p><i class="bi bi-envelope-at"></i>  bussiness@digiauctions.com</p>
        <p><i class="bi bi-telephone"></i>  +84 988 888 888</p>
      </div>
      <div class="send-mess">
        <h2>Send us a message</h2>
        <p><i>We'd love to hear from you! Let us know how we can help.</i></p>
        <form action="#" method="post" [formGroup]="contactForm" (ngSubmit)="onContact()">
          <div class="row">
            <div class="col">
              <input type="text" formControlName="name" class="form-control" placeholder="Your name">
            </div>
            <div class="col">
              <input type="email" formControlName="email" class="form-control" placeholder="Your e-mail">
            </div>
          </div>
          <br>
          <div>
            <textarea formControlName="mess" cols="50" rows="5" class="form-control" placeholder="Your message"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-lg">Send Message   <i class="bi bi-arrow-right-circle"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
