<div class="container">
  <div class="row">
    <div class="faq-page">
      <h2>FAQs</h2>
      <hr>
      <h6>Do not hesitate to send us an email if you can't find what you're looking for.</h6>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> How to start bidding?
          </button>
        </p>
        <div class="collapse" id="faq1">
          <div class="card card-body">
            Answer 1
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> Security Deposit / Bidding Power
          </button>
        </p>
        <div class="collapse" id="faq2">
          <div class="card card-body">
            Answer 2
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> Delivery time to the destination port
          </button>
        </p>
        <div class="collapse" id="faq3">
          <div class="card card-body">
            Answer 3
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> How to register to bid in an auction?
          </button>
        </p>
        <div class="collapse" id="faq4">
          <div class="card card-body">
           Answer 4
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> How will I know if my bid was successful?
          </button>
        </p>
        <div class="collapse" id="faq5">
          <div class="card card-body">
            Answer 5
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> What happens if I bid on the wrong lot?
          </button>
        </p>
        <div class="collapse" id="faq6">
          <div class="card card-body">
            Answer 6
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> How to leave an absentee bid
          </button>
        </p>
        <div class="collapse" id="faq7">
          <div class="card card-body">
            Answer 7
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> How do I know if I won an item?
          </button>
        </p>
        <div class="collapse" id="faq8">
          <div class="card card-body">
            Answer 8
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq9" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> How do I know if I'm the high bidder?
          </button>
        </p>
        <div class="collapse" id="faq9">
          <div class="card card-body">
            Answer 9
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq10" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> Where do I access my saved items?
          </button>
        </p>
        <div class="collapse" id="faq10">
          <div class="card card-body">
            Answer 10
          </div>
        </div>
      </div>
      <br>
      <div class="faq-item">
        <p>
          <button class="faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#faq11" aria-expanded="false" aria-controls="collapseExample">
            <i class="bi bi-question-circle"></i> Cancellations and returns
          </button>
        </p>
        <div class="collapse" id="faq11">
          <div class="card card-body">
            Answer 11
          </div>
        </div>
      </div>
  </div>
</div>
