.faq-page{
  margin: 100px 0 20px;
}
.faq-page .faq-item{
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 0px #00000040;
}
.faq-page .faq-item .faq-btn{
  background-color: #ffffff;
  color: #2695FF;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px 0;
}
