<div class="container">
  <div class="row">
    <div class="category-page">
      <div *ngFor="let c of categories">
        <div *ngIf="c.id == cat">
          <h2>{{c.name}}</h2>
        </div>
      </div>
      <hr>
      <div *ngFor="let p of products">
        <div *ngIf="p.category_id == cat">
          <div class="col-3 row cat-card">
            <div class="card">
              <div class="card-main">
                <div class="end-date">{{p.end_time}}</div>
                <div class="container-fluid cd-timer">
                  <div class="row">
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{day}}</span>
                      <span class="cd-timer-text">Days</span>
                    </div>
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{hour}}</span>
                      <span class="cd-timer-text">Hours</span>
                    </div>
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{min}}</span>
                      <span class="cd-timer-text">Mins</span>
                    </div>
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{sec}}</span>
                      <span class="cd-timer-text">Secs</span>
                    </div>
                  </div>
                </div>
                <div class="c-img">
                  <img src="assets/images/{{p.thumbnail}}" alt="" class="img-fluid">
                </div>
                <div class="bid-item">
                  <ul>
                    <li><a routerLink="/products/{{p.id}}"><i class="bi bi-hammer"></i></a></li>
                    <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                    <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <a routerLink="/products/{{p.id}}">{{p.name}}</a>
                <p class="card-price">Current price: <span >$ {{p.current_price}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
