<!--header-->
<header>
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-7 header-info">
          <div class="header-contact">Call us toll free: <span class="text-dark">+84-988 888 888</span></div>
          <div class="header-contact">Send us an email: <span class="text-dark">bussiness@auctionstable.com</span></div>
        </div>
        <div class="col-5 header-info">
          <div class="container-fluid header-info-icon">
            <div>
              <a routerLink="/track"><i class="bi bi-truck"></i>  Order tracking</a>
            </div>
            <div>
              <a routerLink="/wishlist"><i class="bi bi-heart"></i> Wishlist</a>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col brand-logo">
          <a routerLink=""><img src="assets/images/logo-main.png" alt="" class="img-fluid"></a>
        </div>
        <div class="col header-search">
          <form action="/search" method="get" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="form-item">
              <i class="bi bi-search"></i>
              <input type="text" placeholder="Search products..." formControlName="name" class="form-control">
            </div>
          </form>
        </div>
        <div class="col header-cart">
          <div class="container-fluid header-cart-item">
            <a routerLink="/cart"><button class="btn header-cart-btn">My cart <i class="bi bi-cart3"></i></button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--end of header-->

<!--nav bar-->
<div class=" navbar main-navbar">
  <div class="container">
    <div class="col-11 navbar justify-content-start nav-menu">
      <div class="dropdown">
        <a routerLink="/categories/phone">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mobile phones
          </button>
        </a>
      </div>
      <div class="dropdown">
        <a routerLink="/categories/laptop-pc">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Laptop & PCs
          </button>
        </a>
      </div>
      <div class="dropdown">
        <a routerLink="/categories/tablet">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tablets
          </button>
        </a>
      </div>
      <div class="dropdown">
        <a routerLink="/categories/watch">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Watches
          </button>
        </a>
      </div>
      <div class="dropdown">
        <a routerLink="/categories/tv-audio">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            TV & Audio
          </button>
        </a>
      </div>
      <div class="dropdown">
        <a routerLink="/categories/accessory">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
          </button>
        </a>
      </div>
      <div class="dropdown">
        <a routerLink="/vendors">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vendors
          </button>
        </a>
      </div>
      <div class="dropdown">
        <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Support <i class="bi bi-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/track">Order tracking</a></li>
          <li><a class="dropdown-item" routerLink="/contact">Contact us</a></li>
          <li><a class="dropdown-item" routerLink="/faq">Faqs</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          About Us <i class="bi bi-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/introduce">About AuctionsTable</a></li>
          <li><a class="dropdown-item" routerLink="/policy">Policies</a></li>
          <li><a class="dropdown-item" routerLink="/announcements">Announcements</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1 navbar justify-content-end nav-menu">
      <div class="dropdown">
        <a routerLink="/login">
          <button class="nav-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<!--end of nav bar-->

<!--body-->
<section>
  <div>
    <router-outlet></router-outlet>
  </div>
</section>

<!--end of body-->

<!--footer-->
<div class=" main-footer">
  <div class="footer-row">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h4>Browse through our products library!</h4>
        </div>
        <div class="col-4">
          <div class="col footer-search">
            <form action="/search" method="get" [formGroup]="searchForm" (ngSubmit)="onSearch()">
              <div class="form-item">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search products..." formControlName="name" class="form-control">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="container">
      <div class="row">
        <div class="col">
          <a routerLink="/home"><img src="assets/images/logo-main.png" alt="" class="img-fluid brand-logo"></a>
          <br>
          <p><i class="bi bi-geo-alt-fill"></i>  01 Dinh Tien Hoang, Hoan Kiem, Ha Noi</p>
          <p><i class="bi bi-envelope-at"></i>  bussiness@auctionstable.com</p>
          <p><i class="bi bi-telephone"></i>  +84 988 888 888</p>
        </div>
        <div class="col">
          <h4>Useful links</h4>
          <div class="row">
            <div class="col">
              <p><a routerLink="/categories/phone"><i class="bi bi-chevron-double-right"></i> Mobile Phones</a></p>
            </div>
            <div class="col">
              <p><a routerLink="/vendors"><i class="bi bi-chevron-double-right"></i>  Vendors</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><a routerLink="/categories/laptop-pc"><i class="bi bi-chevron-double-right"></i> Laptops & PC</a></p>
            </div>
            <div class="col">
              <p><a routerLink="/track"><i class="bi bi-chevron-double-right"></i>  Order tracking</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><a routerLink="/categories/tablet"><i class="bi bi-chevron-double-right"></i>  Tablets</a></p>
            </div>
            <div class="col">
              <p><a routerLink="/faq"><i class="bi bi-chevron-double-right"></i>  Faqs</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><a routerLink="/categories/accessory"><i class="bi bi-chevron-double-right"></i>  Accessories</a></p>
            </div>
            <div class="col">
              <p><a routerLink="/introduce"><i class="bi bi-chevron-double-right"></i>  About AuctionsTable</a></p>
            </div>
          </div>
        </div>
        <div class="col">
          <h4>Subscribe to our Newsletter</h4>
          <form action="#" method="get" [formGroup]="subForm" (ngSubmit)="onSub()">
          <div class="row">
            <div class="col-8">
              <input type="email" placeholder="Enter your e-mail" formControlName="email" required class="form-control" >
            </div>
            <div class="col-4">
              <button type="submit" class="form-control">Submit   </button>
            </div>
          </div>
          </form>
          <br>
          <h4>Folow Us on</h4>
          <div class="row">
            <div class="col nav__icons">
              <a routerLink="#"><i class="bi bi-facebook"></i></a>
            </div>
            <div class="col nav__icons">
              <a routerLink="#"><i class="bi bi-twitter"></i></a>
            </div>
            <div class="col nav__icons">
              <a routerLink="#"><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="col nav__icons">
              <a routerLink="#"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end of footer-->
