<div class="container">
  <div class="row">
    <div class="store-page">
      <div class="row">
        <div class="col-3">
          <div class="vendor-contact">
            <h4>Contact Vendor</h4>
            <form action="#" method="get">
              <input type="text" name="name" class="form-control" placeholder="Your name">
              <input type="email" name="email" class="form-control" placeholder="Your e-mail">
              <textarea name="message" id="" cols="30" rows="4"  class="form-control" placeholder="Your message"></textarea>
              <button type="submit" class="vendor-contact-btn">Send message</button>
            </form>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="store-header">
              <div class="col-3">
                <img src="assets/images/blank.avatar.webp" alt="" class="img-fluid">
                <div class="store-info">
                  <h4>Store 1</h4>
                  <p><i class="bi bi-geo-alt-fill"></i> Hanoi, Vietnam</p>
                  <p>ID: 100200300</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
      <hr>
      <h4>Vendor's products</h4>
      <br>
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-main">
              <div class="end-date">Apr 22, 17:00</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="#">iPhone 14</a>
              <p class="card-price">Current price: <span >$ 300</span></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-main">
              <div class="end-date">Apr 22, 17:00</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="#">iPhone 14</a>
              <p class="card-price">Current price: <span >$ 300</span></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-main">
              <div class="end-date">Apr 22, 17:00</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="#">iPhone 14</a>
              <p class="card-price">Current price: <span >$ 300</span></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-main">
              <div class="end-date">Apr 22, 17:00</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="#">iPhone 14</a>
              <p class="card-price">Current price: <span >$ 300</span></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-main">
              <div class="end-date">Apr 22, 17:00</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="#">iPhone 14</a>
              <p class="card-price">Current price: <span >$ 300</span></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-main">
              <div class="end-date">Apr 22, 17:00</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/iPhone-14-thumb.jpg" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="#">iPhone 14</a>
              <p class="card-price">Current price: <span >$ 300</span></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
