<div class="container">
  <div class="row">
    <div class="store-page">
      <div class="row">
        <div class="col-3">
          <div class="vendor-contact">
            <h4>Contact Vendor</h4>
            <form action="#" method="get">
              <input type="text" name="name" class="form-control" placeholder="Your name">
              <input type="email" name="email" class="form-control" placeholder="Your e-mail">
              <textarea name="message" id="" cols="30" rows="4"  class="form-control" placeholder="Your message"></textarea>
              <button type="submit" class="vendor-contact-btn">Send message</button>
            </form>
          </div>
        </div>
          <div class="col-9">
            <div class="row store-header">
              <div class="col"></div>
              <div class="col">
                <div *ngFor="let v of vendors">
                  <div *ngIf="v.id == vdr">
                    <img src="assets/images/{{v.thumbnail}}" alt="" class="img-fluid">
                    <h4 class="text-center text-light">{{v.name}}</h4>
                    <p class="text-light text-center">{{v.address}}</p>
                    <p class="text-center text-light">ID: {{v.id}}</p>
                  </div>
                </div>
              </div>
              <div class="col"></div>
            </div>
        </div>
      </div>
      <hr>
      <h4>Vendor's products</h4>
      <br>
      <div *ngFor="let p of products">
        <div *ngIf="p.vendor_id == vdr">
          <div class="col-3 row item">
            <div class="card">
              <div class="card-main">
                <div class="end-date">{{p.end_time}}</div>
                <div class="container-fluid cd-timer">
                  <div class="row">
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{day}}</span>
                      <span class="cd-timer-text">Days</span>
                    </div>
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{hour}}</span>
                      <span class="cd-timer-text">Hours</span>
                    </div>
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{min}}</span>
                      <span class="cd-timer-text">Mins</span>
                    </div>
                    <div class="col cd-timer-item">
                      <span class="cd-timer-nbr">{{sec}}</span>
                      <span class="cd-timer-text">Secs</span>
                    </div>
                  </div>
                </div>
                <div class="c-img">
                  <img src="assets/images/{{p.thumbnail}}" alt="" class="img-fluid">
                </div>
                <div class="bid-item">
                  <ul>
                    <li><a routerLink="#"><i class="bi bi-hammer"></i></a></li>
                    <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                    <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <a routerLink="/products/{{p.id}}">{{p.name}}</a>
                <p class="card-price">Current price: <span >$ {{p.current_price}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
