<div class="container">
  <div class="row">
    <div class="store-page">
      <div class="row">
        <div class="col-3">
          <div class="vendor-contact">
            <h4>Contact Vendor</h4>
            <form action="#" method="get" [formGroup]="sMessForm" (ngSubmit)="onSMess()">
              <input type="text" name="name" class="form-control" placeholder="Your name">
              <input type="email" name="email" class="form-control" placeholder="Your e-mail">
              <textarea name="message" id="" cols="30" rows="4"  class="form-control" placeholder="Your message"></textarea>
              <button type="submit" class="vendor-contact-btn">Send message</button>
            </form>
          </div>
        </div>
          <div class="col-9">
            <div class="row store-header">
              <div class="col"></div>
              <div class="col">
                <img src="assets/images/{{vendors.thumbnail}}" alt="" class="img-fluid">
                <h4 class="text-center text-light">{{vendors.name}}</h4>
                <p class="text-light text-center">{{vendors.address}}</p>
                <p class="text-center text-light">ID: {{vendors.id}}</p>
              </div>
              <div class="col"></div>
            </div>
        </div>
      </div>
      <hr>
      <h4>Vendor's products</h4>
      <br>
      <div *ngFor="let p of products | paginate: { itemsPerPage: 20, currentPage: page }">
        <app-store-child [products]="p"></app-store-child>
      </div>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
