<div class="container">
  <div class="row">
    <div class="col-5 product-page">
      <div class="img-section">
        <div id="product-img" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/iphone-14-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/iphone-14-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/iphone-14-3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/iphone-14-4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/images/iphone-14-5.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#product-img" data-bs-slide="prev">
            <span aria-hidden="true">
              <i class="bi bi-chevron-left"></i>
            </span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#product-img" data-bs-slide="next">
            <span aria-hidden="true">
              <i class="bi bi-chevron-right"></i>
            </span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-7 product-page">
      <h2>Iphone 14 - 128gb</h2>
      <h6><i>Categories: Mobile Phones</i></h6>
      <h4>Current price: $ 300</h4>
      <h4>Time left:</h4>
      <div class="row countdown">
        <div class="countdown-item">
          <span class="countdown-item-nbr">{{day}}</span>
          <span>Days</span>
        </div>
        <div class="countdown-item">
          <span class="countdown-item-nbr">{{hour}}</span>
          <span>Hours</span>
        </div>
        <div class="countdown-item">
          <span class="countdown-item-nbr">{{min}}</span>
          <span>Minutes</span>
        </div>
        <div class="countdown-item">
          <span class="countdown-item-nbr">{{sec}}</span>
          <span>Seconds</span>
        </div>
      </div>
      <br>
      <h6>Auction end at: 2023 Apr 22, 17:00</h6>
      <br>
      <div class="row bid-option">
        <div class="col-5 price-change">
          <button type="button" (click)="downPrice()" class="qty-btn"><i class="bi bi-dash-lg"></i></button>
          <div class="price-item">
            <span><i class="bi bi-currency-dollar"></i></span>
            <input type="text" value="{{newPrice}}" class="input-group-lg">
          </div>
          <button type="button" (click)="upPrice()" class="qty-btn"><i class="bi bi-plus-lg"></i></button>
        </div>
        <div class="col">
          <button type="button" class="bid-option-btn" style="background-color: rgba(38, 149, 255, 1)"><i class="bi bi-hammer"></i></button>
        </div>
        <div class="col">
          <button type="button" class="bid-option-btn" style="background-color: rgba(241, 75, 63, 1)"><i class="bi bi-heart"></i></button>
        </div>
        <div class="col">
          <button type="button" class="bid-option-btn" style="background-color: rgba(250, 187, 5, 1)"><i class="bi bi-share"></i></button>
        </div>
      </div>
      <br>
      <div class="add-cart">
        <h4>
          Or buy now for: $ 1000
        </h4>
        <button type="button" class="add-cart-btn">Add to Cart <i class="bi bi-bag-plus"></i></button>
      </div>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col product-tab" [class.product-tab-color]="id == 'product-desc'" id="product-desc" (click)="tabChange('product-desc')">
      <h5>Descriptions</h5>
    </div>
    <div class="col product-tab" [class.product-tab-color]="id == 'add-info'" id="add-info" (click)="tabChange('add-info')">
      <h5>Additional informations</h5>
    </div>
    <div class="col product-tab" [class.product-tab-color]="id == 'bid-history'" id="bid-history" (click)="tabChange('bid-history')">
      <h5>Auction history</h5>
    </div>
    <div class="col product-tab" [class.product-tab-color]="id == 'vendor-info'" id="vendor-info" (click)="tabChange('vendor-info')">
      <h5>Vendor informations</h5>
    </div>
  </div>
  <div class="tab-content">
    <div class="content-value" *ngIf="id == 'product-desc'">
        {{desc}}
<!--      <p>The iPhone 14 looks identical to the iPhone 13, but there's a new 6.7-inch model called the iPhone 14 Plus. Under-the-hood improvements include 6GB of RAM, a 5-core GPU, Bluetooth 5.3, and multiple camera updates. Color options have been updated with (PRODUCT)RED, blue, purple, midnight, and starlight.</p>-->
<!--      <p>● 6.1-inch and 6.7-inch display sizes</p>-->
<!--      <p>● Emergency SOS via satellite</p>-->
<!--      <p>● Lightning port and notch remain</p>-->
<!--      <p>● No SIM tray in the United States</p>-->
<!--      <p>● A15 processor with 5-core GPU</p>-->
    </div>
    <div class="content-value" *ngIf="id == 'add-info'">
      Additional informations
    </div>
    <div class="content-value" *ngIf="id == 'bid-history'">
      <table class="table history-table">
        <thead>
        <tr>
          <th class="col-2">#</th>
          <th class="col-4">User</th>
          <th class="col-2">Bid</th>
          <th class="col-4">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>$ 300</td>
          <td>2023 Feb 13, 21:00</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>$ 280</td>
          <td>2023 Feb 13, 19:45</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Jeny</td>
          <td>$ 275</td>
          <td>2023 Feb 13, 16:05</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Micheal</td>
          <td>$ 250</td>
          <td>2023 Feb 13, 13:00</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>James</td>
          <td>$ 245</td>
          <td>2023 Feb 12, 23:15</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Lisa</td>
          <td>$ 220</td>
          <td>2023 Feb 12, 11:21</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Sarah</td>
          <td>$ 205</td>
          <td>2023 Feb 11, 14:31</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Jack</td>
          <td>$ 200</td>
          <td>2023 Feb 11, 09:05</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="content-value" *ngIf="id == 'vendor-info'">
      <p>Store ID: 100200300</p>
      <p>Vendor: Store 1</p>
      <p>Address: Hanoi, Viet Nam</p>
      <p>Rating: * * * * *</p>
    </div>
  </div>
</div>

