<div class="container">
  <div class="row login-page">
    <div class="col-3"></div>
    <div class="col-6 login-section">
      <h2>
        Sign up
      </h2>
      <form action="#" name="login-form" method="get">
        <div class="form-group">
          <h5>Full name</h5>
          <div class="form-item">
            <span><i class="bi bi-person-vcard"></i></span>
            <input type="text" placeholder="Enter your full name..." name="fullname" class="form-control">
          </div>
          <h5>E-mail</h5>
          <div class="form-item">
            <span><i class="bi bi-envelope-at"></i></span>
            <input type="email" placeholder="Enter your email..." name="email" class="form-control">
          </div>
          <h5>Username</h5>
          <div class="form-item">
            <span><i class="bi bi-person-circle"></i></span>
            <input type="text" placeholder="Enter your username..." name="username" class="form-control">
          </div>
          <h5>Password</h5>
          <div class="form-item">
            <span><i class="bi bi-lock"></i></span>
            <input type="password" placeholder="Enter your password..." name="password" class="form-control">
          </div>
          <h5>Re-enter password</h5>
          <div class="form-item">
            <span><i class="bi bi-lock"></i></span>
            <input type="password" placeholder="Re-enter your password..." name="password-r" class="form-control">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="agree" required>
            <label class="form-check-label" for="agree">
              <h6>I have read and agreed with the <a routerLink="#">terms and conditions</a></h6>
            </label>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-lg login-btn">Sign up</button>
          </div>
          <br>
          <div>
            <h5 style="text-align: center">Or Sign up with</h5>
          </div>
          <div class="login-with">
            <a routerLink="#"><button class="btn btn-lg login-icon" style="background-color: #e94235"><i class="bi bi-google"></i></button></a>
            <a routerLink="#"><button class="btn btn-lg login-icon" style="background-color: #0268e2"><i class="bi bi-facebook"></i></button></a>
            <a routerLink="#"><button class="btn btn-lg login-icon" style="background-color: #1D9BF0"><i class="bi bi-twitter"></i></button></a>
          </div>
          <br>
          <div>
            <h5 style="text-align: center">Ready have an account? <a routerLink="/login">Login</a></h5>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>


