<div class="container">
  <div class="row">
    <div class="search-page">
      <h2>
        Search results for <i>"{{key}}"</i> :
      </h2>
      <hr>
      <div *ngFor="let r of result">
        <div class="col-3 row cat-card">
          <div class="card">
            <div class="card-main">
              <div class="end-date">{{r.end_time}}</div>
              <div class="container-fluid cd-timer">
                <div class="row">
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{day}}</span>
                    <span class="cd-timer-text">Days</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{hour}}</span>
                    <span class="cd-timer-text">Hours</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{min}}</span>
                    <span class="cd-timer-text">Mins</span>
                  </div>
                  <div class="col cd-timer-item">
                    <span class="cd-timer-nbr">{{sec}}</span>
                    <span class="cd-timer-text">Secs</span>
                  </div>
                </div>
              </div>
              <div class="c-img">
                <img src="assets/images/{{r.thumbnail}}" alt="" class="img-fluid">
              </div>
              <div class="bid-item">
                <ul>
                  <li><a routerLink="/products/{{r.id}}"><i class="bi bi-hammer"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-heart"></i></a></li>
                  <li><a routerLink="#"><i class="bi bi-share-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <a routerLink="/products/{{r.id}}">{{r.name}}</a>
              <p class="card-price">Current price: <span >$ {{r.current_price}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
